{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },

  "DirConfig": {
    "Path": "Thumbnails"
  },

  "SizeConfig": {
    "SupportedSizes": {
      "small": 50,
      "medium": 100,
      "large": 250
    }
  },

  "EndpointConfig": {
    "HostUrl": "https://docker-hip.cs.upb.de/develop/"
  }

}
